$dark-blue: #505160;
$grey: #F5F5F5;
$Roboto: "Roboto", sans-serif;
$round-border: 0.5em;

h2 {
  margin-bottom: 0.3em;
}
.career-card {
  border-radius: $round-border;
  background: $grey;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
  display: block;
  height: 60vh;
  margin: 1.5em auto;
  position: relative;
  width: 100%;
}

.career-img {
  border-radius: 50%;
  display: block;
  height: 14em;
  width: 14em;
  margin: 0.5em auto;
}

.career-title {
  font-size: 2em;
  text-align: center;
}

.career-tagline{
  font-size: 1.4em;
  margin-bottom: 0;
  text-align: center;
  width: 100%;
}

.career-description {
  font-size: 1.2em;
  margin: 1em 0.5em;
  text-align: center;
  width: 90%;
}

.btn-info, .btn-back {
  width: 100%;
  display: block;
  margin: 1em auto;
  color: $light-blue;
  text-decoration: none;
  &:visited, &:hover, &:focus, &:active {
    text-decoration: none;
    color: #66829E;
  }
}

.btn-likes {
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around;
}

.btn-image {
  height: 3.5em;
  width: 3.5em;
}

.flip-container {
  perspective: 62.5em;
}

.flip {
  transform: rotateY(180deg);
}

.flip-container, .front, .back {
  height: 30em;
  width: 20em;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  z-index: 2;
}

.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
}
