h3, h4, p, ul {
  margin: 0;
  padding: 0;
}

a:link, a:visited {
  color:#575757;
}

body {
  background-color: #f2f2f2;
}

.listContainer {
  display: flex;
  flex-direction: column;
}

.listItems {
  background: #FFF;
  box-shadow: 0 0.4em 0.4em rgba(0, 0, 0, 0.5);
  border-radius: 0.4em;
  margin-top: 1em;
  width: 100%;
  height: 5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.itemHelper{
  width: 80%;
}

.listItemsLink {
  text-decoration: none;
}

.careerImg {
  padding: 0.6em 0.9em;
  width: 3.5em;
  height: 3.5em;
  float: left;
}

.garbageImg {
  width: 9%;
  height: 2em;
  float: right;
  padding-top: 2.5em;
}

.listTitle, .listTagline {
  width:100%;
  // tagline <45 chars
}

.listTitle {
  padding-top: 0.7em;
}
