$content-color: #575757;
$green: #598234;
$bold:  700;
$light: 300;
$normal: 500;
$round-border:0.5em;

.center{
  margin: 0 auto;
  display: block;
}

.container {
  width: 95%;
  height: 100vh;
  margin: 0 auto;

  .logo, .startButton {
  margin: 0 auto;
  display: block;

  }

  .logo {
    margin-top: 16.8539325843%;
    width: 21.25em;
    height: 14.375em;
  }

  p {
    text-align: center;
    font-weight: #{$light};
    margin-top: 1em;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
  }

  .startButton {
    text-decoration: none;
    background-color: #{$green};
    border-radius: #{$round-border};
    width: 10em;
    height: 3.2em;
    margin-top: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4em;
    font-weight: #{$bold};
    color:#FFF;
  }
}
