{
  parser: "babel-eslint",
  "plugins":[
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-unused-vars": 0,
    "class-methods-use-this": 0
  },
  "extends": ["eslint:recommended", "plugin:react/recommended", "airbnb-base"],
  "globals": {
    "Style": true,
    "localStorage": true,
    "document": true,
    "describe": true,
    "it": true,
    "expect": true
  }
}
