body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden; }

.nav-bar {
  align-items: center;
  background: #68829E;
  box-shadow: 0 0.3em 0.25em rgba(0, 0, 0, 0.28);
  display: flex;
  justify-content: space-around;
  margin: 0;
  width: 100%; }

.nav-item {
  padding: 0 0.1em;
  width: 2.5em;
  color: #FFF;
  text-decoration: none; }
  .nav-item:visited, .nav-item:hover, .nav-item:focus, .nav-item:active {
    color: #FFF;
    text-decoration: none; }

.nav-logo {
  padding-top: 0.4em; }

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden; }

.career-card {
  background: #F5F5F5;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.25);
  display: block;
  height: 60vh;
  margin: 1em auto;
  position: relative;
  width: 100%; }

.career-img {
  border-radius: 50%;
  display: block;
  height: 14em;
  margin: 0 auto;
  width: 14em; }

.career-title {
  font-size: 2em;
  text-align: center; }

.career-tagline {
  font-size: 1.5em;
  margin-bottom: 0;
  text-align: center;
  width: 100%; }

.career-description {
  font-size: 1.2em;
  margin: 1em 0.5em;
  text-align: right;
  width: 90%; }

.btn-info {
  width: 100%;
  display: block;
  margin: 2.5em auto;
  color: #68829E;
  text-decoration: none; }
  .btn-info:visited, .btn-info:hover, .btn-info:focus, .btn-info:active {
    color: #66829E;
    text-decoration: none; }

.btn-back {
  margin: 0 0 1em 1em;
  color: #68829E; }
  .btn-back:visited, .btn-back:hover, .btn-back:focus, .btn-back:active {
    color: #68829E; }

.btn-likes {
  backface-visibility: hidden;
  display: flex;
  justify-content: space-around; }

.btn-image {
  height: 3.5em;
  width: 3.5em; }

.flip-container {
  perspective: 62.5em; }

.flip {
  transform: rotateY(180deg); }

.flip-container, .front, .back {
  height: 30em;
  width: 20em; }

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s; }

.front {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(0deg);
  z-index: 2; }

.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg); }

body {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow: hidden; }

.center {
  margin: 0 auto;
  display: block; }

.container {
background-color: red;
  width: 95%;
  height: 100vh;
  margin: 0 auto; }

  .container .logo, .container .startButton {
    margin: 0 auto;
    display: block; }
  .container .logo {
    margin-top: 16.8539325843%;
    width: 100%;
    height: 12em; }
  .container p {
    text-align: center;
    font-weight: lighter;
    margin-top: 2em;
    font-size: 22px;
    padding-left: 1em;
    padding-right: 1em; }
  .container .startButton {
    text-decoration: none;
    background-color: #598234;
    width: 10em;
    height: 3.2em;
    margin-top: 3.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 500; }

.listItems {
  border: 1px solid red; }

/*# sourceMappingURL=style.css.map */
